
<left>
    <br>
    <br>
    <b>Last Updated</b><br>
    <i>
        <span id="lastUpdated" style="color:orange;"></span>
    </i>

    <script>
        // Lấy ngày hiện tại
        const today = new Date();
        // Định dạng dd-mm-yyyy
        const formattedDate = today.toLocaleDateString('en-GB');
        // Gán vào thẻ span
        document.getElementById('lastUpdated').textContent = formattedDate;
    </script>
</left>
<left>
    <br>
    <br>
    <b> Team </b> <br>

    <i> <a href="https://www.facebook.com/groups/660548818043427" style="color:orange">First Cloud Journey </a> <br>

    </i>
</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>